.about-us {
    display: grid;
    grid-template-columns: 0.5fr 5.5fr 5.5fr 0.5fr;
    gap: 2rem;
    padding: 80px;
    background: #070707;
}
.about-us-txt {
    color: #6f6f6f;
}
h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
}
.btn {
    margin: 0 10px 10px 0;
    padding: 12px 24px;
    border: 1px solid #6f6f6f;
    border-radius: 25px;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.btn-1 {
    color: #ffffff;
    border: 1px solid #ffffff;
}

// Right side
.accelerated {
    span,
    p {
        color: #ffffff;
    }
    span {
        font-size: 24px;
    }
}
.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 10px 10px 0;
    padding: 14px 30px;
    border: 1px solid #1235ec;
    border-radius: 7px;
    background-color: #1235ec;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;

    mat-icon {
        margin-left: 5px;
    }
}

// Media Queries
@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 430px) {
    .hide-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
    .about-us {
        grid-template-columns: 12fr;
        padding: 40px 1.2rem;
    }
}
