@for (blog of paginatedBlogs; track blog.name) {
<div class="blog">
    <img src="{{ blog.image }}" alt="{{ blog.name }}" />
    <h3>{{ blog.name }}</h3>
    <p>{{ blog.subject }}</p>
    <p>{{ blog.content }}</p>
    <a href="{{ blog.iconHref }}">
        <img src="{{ blog.iconHref }}" alt="Icon" />
    </a>
    <div class="buttons">
        <button>{{ blog.button1.label }}</button>
        <button>{{ blog.button2.label }}</button>
        <button>{{ blog.button3.label }}</button>
    </div>
</div>
}

<mat-paginator
    [length]="100"
    [pageSize]="10"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="currentPage"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
>
</mat-paginator>
