<section id="our-projects" class="our-projects">
    <div></div>

    <div>
        <div class="our-projects-txt poppins-regular">Our works</div>
        <div class="our-projects-inner">
            <div>
                <h1 class="poppins-bold">
                    See How We Redefine <br />
                    Digital Solutions
                </h1>
            </div>
            <div>
                <button class="btn-2">
                    See More
                    <mat-icon aria-hidden="false" fontIcon="north_east"> </mat-icon>
                </button>
            </div>
        </div>

        <div class="projects">
            <div class="project">
                <div class="top-wrapper">
                    <div class="container-top">
                        <img class="logo" src="/assets/images/slc-logo.png" alt="" />
                        <h2 class="poppins-semibold">
                            Sri Lanka Cricket <br />
                            Vendor Management System
                        </h2>
                    </div>
                    <a href="https://vms.mycricket.com.lk" target="_blank">
                        <div class="icon-container-2"><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="north_east"></mat-icon></div>
                    </a>
                </div>
                <div>
                    <p class="poppins-regular">
                        We developed a cutting-edge Vendor Management System for Sri Lanka Cricket, streamlining their procurement and vendor operations with
                        AI-powered automation. Our team designed an intuitive, secure, and scalable platform that simplifies vendor registration, contract
                        management, and performance tracking.
                    </p>
                </div>
                <div>
                    <div class="avatar-container">
                        <div>
                            <div><img src="/assets/images/avatar-1.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-2.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-3.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-4.png" alt="" /></div>
                        </div>
                        <div>
                            <span class="poppins-regular"
                                ><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="calendar_today"></mat-icon>25th January 2025</span
                            >
                            <span class="poppins-regular"
                                ><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="language"></mat-icon
                                ><a href="https://vms.mycricket.com.lk" target="_blank">vms.mycricket.com.lk</a></span
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="project">
                <div class="top-wrapper">
                    <div class="container-top">
                        <img class="logo" src="/assets/images/mepa-logo.png" alt="" />
                        <h2 class="poppins-semibold">
                            OceanWatch | MEPA - Beach Cleanup <br />
                            Booking Management System
                        </h2>
                    </div>
                    <a href="https://www.oceanwatch.lk" target="_blank">
                        <div class="icon-container-2"><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="north_east"></mat-icon></div>
                    </a>
                </div>
                <div>
                    <p class="poppins-regular">
                        We created an innovative platform for OceanWatch to manage beach cleanup events seamlessly. The system enhances the booking process,
                        volunteer coordination, and resource allocation. With a focus on ease of use and reliability, our solution empowers OceanWatch to
                        efficiently organize and execute impactful environmental initiatives.
                    </p>
                </div>
                <div>
                    <div class="avatar-container">
                        <div>
                            <div><img src="/assets/images/avatar-1.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-2.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-3.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-4.png" alt="" /></div>
                        </div>
                        <div>
                            <span class="poppins-regular"
                                ><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="calendar_today"></mat-icon>25th January 2025</span
                            >
                            <span class="poppins-regular"
                                ><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="language"></mat-icon
                                ><a href="https://www.oceanwatch.lk" target="_blank">www.oceanwatch.lk</a></span
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="project">
                <div class="top-wrapper">
                    <div class="container-top">
                        <img class="logo" src="/assets/images/basketball-logo.png" alt="" />
                        <h2 class="poppins-semibold">
                            Basketball Sri Lanka Website & Players <br />
                            Management System
                        </h2>
                    </div>
                    <div class="icon-container-2"><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="north_east"></mat-icon></div>
                </div>
                <div>
                    <p class="poppins-regular">
                        We developed a cutting-edge Vendor Management System for Sri Lanka Cricket, streamlining their procurement and vendor operations with
                        AI-powered automation. Our team designed an intuitive, secure, and scalable platform that simplifies vendor registration, contract
                        management, and performance tracking.
                    </p>
                </div>
                <div>
                    <div class="avatar-container">
                        <div>
                            <div><img src="/assets/images/avatar-1.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-2.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-3.png" alt="" /></div>
                            <div><img src="/assets/images/avatar-4.png" alt="" /></div>
                        </div>
                        <div>
                            <span class="poppins-regular"
                                ><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="calendar_today"></mat-icon>25th January 2025</span
                            >
                            <span class="poppins-regular"
                                ><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="language"></mat-icon
                                ><a href="https://www.mycricket.lk/vms" target="_blank">www.basketball.lk</a></span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div></div>
</section>
