{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2,
                "trailingComma": "none"
            }
        },
        {
            "files": "*.html",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": ["*.component.html"],
            "options": {
                "printWidth": 120,
                "wrapAttributes": "auto"
            }
        },
        {
            "files": ["*.scss", "*.css"],
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always"
            }
        }
    ]
}
