<section id="services" class="services">
    <div></div>

    <div>
        <div class="services-txt poppins-regular">Services</div>
        <div>
            <h1 class="poppins-bold">
                AI-Driven Digital Solutions for<br />
                Faster, Smarter Growth.
            </h1>
        </div>

        <div class="tiles">
            <div class="tile">
                <div>
                    <div class="icon-container"><mat-icon style="color: #1235ec" aria-hidden="false" fontIcon="web"></mat-icon></div>
                </div>
                <div class="text-1 poppins-regular">Web design</div>
                <div>
                    <p class="poppins-regular">
                        Where creativity meets functionality, making your <br />
                        online presence unforgettable.
                    </p>
                </div>
                <div class="avatar-container">
                    <div>
                        <div><img src="/assets/images/avatar-1.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-2.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-3.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-4.png" alt="" /></div>
                    </div>
                    <div>
                        <div class="icon-container-2"><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="north_east"></mat-icon></div>
                    </div>
                </div>
            </div>
            <div class="tile" style="background-color: #1235ec">
                <div>
                    <div class="icon-container" style="background-color: #ffffff">
                        <mat-icon style="color: #1235ec" aria-hidden="false" fontIcon="terminal"></mat-icon>
                    </div>
                </div>
                <div class="text-1 poppins-regular" style="color: #ffffffff">Software Development</div>
                <div><p class="poppins-regular" style="color: #ffffffff">Building smarter solutions, faster, with cutting-edge <br> technology at our core.</p></div>
                <div class="avatar-container">
                    <div>
                        <div><img src="/assets/images/avatar-1.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-2.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-3.png" alt="" /></div>
                    </div>
                    <div>
                        <div class="icon-container-2"><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="north_east"></mat-icon></div>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div>
                    <div class="icon-container"><mat-icon style="color: #1235ec" aria-hidden="false" fontIcon="preview"></mat-icon></div>
                </div>
                <div class="text-1 poppins-regular">UI/UX Design</div>
                <div><p class="poppins-regular">Designing experiences that not only look great but feel <br> intuitive and effortless.</p></div>
                <div class="avatar-container">
                    <div>
                        <div><img src="/assets/images/avatar-1.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-2.png" alt="" /></div>
                    </div>
                    <div>
                        <div class="icon-container-2"><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="north_east"></mat-icon></div>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div>
                    <div class="icon-container"><mat-icon style="color: #1235ec" aria-hidden="false" fontIcon="branding_watermark"></mat-icon></div>
                </div>
                <div class="text-1 poppins-regular">Brand Identity</div>
                <div><p class="poppins-regular">Crafting brands that leave a lasting impression, with <br> every detail telling your story.</p></div>
                <div class="avatar-container">
                    <div>
                        <div><img src="/assets/images/avatar-1.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-2.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-3.png" alt="" /></div>
                        <div><img src="/assets/images/avatar-4.png" alt="" /></div>
                    </div>
                    <div>
                        <div class="icon-container-2"><mat-icon style="color: #c0c0c0" aria-hidden="false" fontIcon="north_east"></mat-icon></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div></div>
</section>
