.services {
    display: grid;
    grid-template-columns: 0.5fr 11fr 0.5fr;
    gap: 2rem;
    padding: 80px;
    background: #070707;
}
.services-txt {
    color: #6f6f6f;
}
h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
}

.tiles {
    // display: grid;
    // grid-template-columns: 6fr 6fr;
    // gap: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    .tile {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 35px;
        background-color: #f9f9f9;
        padding: 1.5rem;
        .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #d2d8ed;
            height: 72px;
            width: 72px;
            mat-icon {
                scale: 1.7;
            }
        }
        .text-1 {
            margin-bottom: 144px;
            font-size: 32px;
        }
        p {
            font-size: 14px;
        }
        .avatar-container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 0.3rem;
            div {
                display: flex;
                flex-direction: row;
                gap: 0.3rem;
            }
            .icon-container-2 {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #c0c0c0;
                border-radius: 50%;
                height: 45px;
                width: 45px;
                cursor: pointer;
            }
            .avatar-img {
                width: 45px;
                height: 45px;
                flex-shrink: 0;
                border-radius: 512px;
            }
        }
    }
}

// Media Queries
@media only screen and (max-width: 1023px) {

}

@media only screen and (max-width: 576px) {
    .slide-from-left {
        animation: none;
    }
    .hide-mobile {
        display: none;
    }
    .show-mobile {
        display: block;
    }
    .services {
        grid-template-columns: 12fr;
        padding: 40px 1.2rem;
    }
    .tiles {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
