/* Header Styles */
.navbar {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    gap: 2rem;
    background-color: #070707;
    color: white;
    align-items: center;
    padding: 16px 0px;
    font-family: 'Poppins', serif;
}
.navbar-inner {
    background-color: #070707;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 16px 120px;
    font-family: 'Poppins', serif;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-img {
    height: 40px;
    margin-right: 8px;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.dot {
    color: #3b82f6; /* Blue color */
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    margin-left: 30%;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #bbbbbb;
}

/* Contact Button */
.contact-btn {
    background-color: #1235ec; /* Blue */
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #1e40af; /* Darker blue */
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 3px;
    border-radius: 32px;
    background-color: #ffffff;
    transition: 0.3s;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}



// Media Query
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .navbar {
        grid-template-columns: 1fr 10fr 1fr;
        gap: 1rem;
    }
}
@media (max-width: 1023px) {
    .navbar {
        grid-template-columns: 0fr 11fr 0fr !important;
    }
}
@media (max-width: 991px) {
    .navbar {
        grid-template-columns: 1fr 10fr 1fr !important;
        gap: 1rem;
        padding: 16px 25px;
    }
    .nav-links,
    .contact-btn {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}
@media only screen and (max-width: 430px) {
    .navbar {
        padding: 16px 0px;
    }
}
