<nav class="navbar">
    <div></div>
    <!-- Logo -->
    <div class="navbar-inner">
        <div class="logo">
            <img src="/assets/images/ecube-logo.png" alt="Logo" class="logo-img" />
            <!-- <span class="logo-text">ecube<span class="dot">.</span></span> -->
        </div>

        <!-- Navigation Links -->
        <ul class="nav-links">
            <li><a href="#about-us">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#our-projects">Our Work</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Blogs</a></li>
            <li><a href="/careers">Careers</a></li>
        </ul>
        <!-- Contact Button -->
        <a href="#" class="contact-btn">Contact us</a>

        <!-- Hamburger Menu -->
        <div class="hamburger" (click)="openNav()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div></div>
</nav>

<!-- The overlay -->
<div id="myNav" class="overlay">
    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <li><a (click)="closeNav()" href="#about-us">About</a></li>
        <li><a (click)="closeNav()" href="#services">Services</a></li>
        <li><a (click)="closeNav()" href="#our-projects">Our Work</a></li>
        <li><a (click)="closeNav()" href="#">Products</a></li>
        <li><a (click)="closeNav()" href="#">Blogs</a></li>
        <li><a (click)="closeNav()" href="#">Careers</a></li>
    </div>
</div>
