.logo-slider {
    display: grid;
    grid-template-columns: 0.5fr 8fr 0.5fr;
    gap: 1rem;
    padding: 0 80px;
    background: #070707;
}
.slider {
    overflow: hidden;
    background: #070707;
    padding: 1em 0em;
}
.text {
    margin-bottom: 20px;
    color: #c0c0c0;
}
img {
    width: 150px;
    height: 50px;
    animation: scroll 60s linear infinite;
}

.slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translatex(-1000%);
    }
}

// Media Query
@media only screen and (max-width: 430px) {
    .logo-slider {
        padding: 0;
    }
}
