.project {
    min-height: 460px;
    display: flex;
    flex-direction: column;
    border: 2px solid #003dad;
    border-radius: 32px;
    background-color: #1235ec;
    padding: 3rem;
}
.icon-container-wrapper {
    display: flex;
    justify-content: end;
}
.icon-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
> div {
    width: 100%;
}
.top-wrapper {
    display: flex;
    justify-content: space-between;
}
.container-top {
    display: flex;
}

h2 {
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    span {
        font-size: 12px;
    }
}
.logo {
    width: 96px;
    height: 96px;
}
p {
    margin-top: 2rem;
    font-size: 16px;
    color: #ffffff;
}

.avatar-container {
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 0.3rem;
    margin-top: 2rem;
    // div {
    //     display: flex;
    //     flex-direction: row;
    //     gap: 0.3rem;
    // }

    span {
        // display: flex;
        // justify-content: end;
        align-items: center;
        margin-left: 0.5rem;
        color: #ffffff;
        mat-icon {
            margin-right: 0.5rem;
        }
    }
    .avatar-img {
        width: 45px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 512px;
    }
}

@media only screen and (max-width: 576px) {
    :host ::ng-deep {
        .p-carousel-item {
            > div {
                padding: 0 !important;
            }
        }
    }
}
