.hero {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr 1fr;
    gap: 2rem;
    padding: 80px 0;
    background: #070707;
    color: white;
    font-family: 'Poppins', serif;
}

/* Left Side */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    min-height: 670px;
    padding: 1.5rem 4rem;
    background-color: #1235ec;
}

.hero-content h1 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.2;
}
.hero-content h1 span {
    color: #3b82f6; /* Blue */
}
.hero-content p {
    font-size: 20px;
    line-height: 25px;
    margin: 33px 0 130px 0;
}
.hero-buttons {
    display: flex;
    gap: 15px;
}
.btn {
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.primary {
    background: white;
    color: black;
}
.primary:hover {
    background: #e5e5e5;
}
.secondary {
    background: #3b82f6;
    color: white;
}
.secondary:hover {
    background: #1e40af;
}

/* Right Side - Testimonial */
.hero-image-container {
    position: relative;
    width: 100%;
    min-width: 419.25px;
    max-width: 419.25px;
    min-height: 670px;
    max-height: 670px;
    background-color: transparent;
    background: #070707;
}
.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    h1 {
        font-size: 48px;
        line-height: 48px;
    }
    .details {
        position: absolute;
        top: 80%;
        left: 8%;
        color: #ffffff;
        font-size: 24px;
        line-height: 28px;
        span {
            font-size: 14px;
        }
    }
    .mat-icon-1 {
        z-index: 1;
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    .mat-icon-2 {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}
.carousel {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    transition: background 0.4s ease-in;
    background: #070707;

    &.blue {
        background-color: #428aa6;
    }
}

input[type='radio'] {
    display: none;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #070707;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}

#item-1:checked ~ .slides #song-4,
#item-2:checked ~ .slides #song-1,
#item-3:checked ~ .slides #song-2,
#item-4:checked ~ .slides #song-3 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .slides #song-2,
#item-2:checked ~ .slides #song-3,
#item-3:checked ~ .slides #song-4,
#item-4:checked ~ .slides #song-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .slides #song-1,
#item-2:checked ~ .slides #song-2,
#item-3:checked ~ .slides #song-3,
#item-4:checked ~ .slides #song-4 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

.indicators {
    position: absolute;
    bottom: 10px;
    top: 8.5%;
    left: 88%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.indicator {
    width: 12px;
    height: 12px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

// .indicator.active {
//     background: black;
//     transform: scale(1.2);
// }

// Media Queries

@media only screen and (min-width: 1920px) {
    .hero {
        grid-template-columns: 1fr 7fr 3fr 1fr;
        gap: 2rem;
        padding: 80px 0;
    }
    .hero-content {
        min-height: 760px;
        padding: 1.5rem 4rem;
    }
    .hero-content h1 {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 100px;
        font-weight: bold;
        line-height: 1.1;
    }
    // Right Side
    .hero-image-container {
        min-width: 475px;
        max-width: 475px;
        min-height: 760px;
        max-height: 760px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .hero {
        gap: 1rem;
    }
    /* Left Side */
    .hero-content h1 {
        font-size: 60px;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 1023px) {
    .hero {
        display: grid;
        grid-template-columns: 1fr 6fr 4fr 1fr;
        gap: 1rem;
        padding: 80px 2rem;
    }

    .hero-content h1 {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 38px;
        font-weight: bold;
        line-height: 38px;
    }

    .hero-content p {
        font-size: 16px;
        line-height: 18px;
        margin: 33px 0 30px 0;
    }
    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }

    /* Left Side */
    .hero-content {
        border-radius: 12px;
        min-height: 400px;
        max-height: 400px;
        padding: 1rem 2rem;
    }

    // Right Side
    .hero-image-container {
        position: relative;
        width: 100%;
        min-width: 250px;
        max-width: 250px;
        min-height: 400px;
        max-height: 400px;
    }
    .overlay .mat-icon-2 {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 12%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}

@media only screen and (max-width: 430px) {
    .hide-mobile {
        display: none;
    }
    .hero {
        grid-template-columns: 12fr;
        padding: 40px 1.2rem;
    }
    .hero-content {
        min-height: 350px;
        max-height: 350px;
        padding: 1rem 0.5rem;
    }
    .hero-content h1 {
        text-align: center;
        font-size: 28px;
        line-height: 30px;
    }
    .hero-content p {
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        padding: 0 1rem;
    }
    .hero-buttons {
        justify-content: center;
    }
    .btn {
        padding: 6px 12px;
        font-size: 10px;
    }
    .hero-image-container {
        display: none;
    }
}
