.hero {
    display: grid;
    grid-template-columns: 0.5fr 4fr 3fr 0.5fr;
    gap: 2rem;
    padding: 80px;
    background: linear-gradient(135deg, #000 30%, #0a0716 100%);
    color: white;
    font-family: 'Poppins', serif;
}

/* Left Side */
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    min-height: 670px;
    // max-width: 420px;
    padding: 1.5rem 4rem;
    background-color: #1235ec;
}

.hero-content h1 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
}

.hero-content h1 span {
    color: #3b82f6; /* Blue */
}

.hero-content p {
    font-size: 20px;
    line-height: 25px;
    margin: 33px 0 130px 0;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.primary {
    background: white;
    color: black;
}

.primary:hover {
    background: #e5e5e5;
}

.secondary {
    background: #3b82f6;
    color: white;
}

.secondary:hover {
    background: #1e40af;
}

/* Right Side - Testimonial */
.hero-image-container {
    position: relative;
    width: 100%;
    min-height: 670px;
    border-radius: 12px;
}
.hero-image {
    height: 100%;
    border-radius: 12px;
    background-image: url('/assets/images/hero-1-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    z-index: 9999;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    h1 {
        font-size: 48px;
        line-height: 48px;
    }
    .details {
        position: absolute;
        top: 80%;
        left: 8%;
        color: #ffffff;
        font-size: 24px;
        line-height: 28px;
        span {
            font-size: 14px;
        }
    }
    .mat-icon-1 {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(-50%, -50%);
    }
    .mat-icon-2 {
        position: absolute;
        top: 50%;
        left: 6%;
        transform: translate(-50%, -50%);
    }
}

.carousel {
    margin: 0;
    padding: 0;
    // width: 100vw;
    // height: 100vh;
    width: 100%;
    height: 100%;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background 0.4s ease-in;
    // background-color: #c394f8;
    background: linear-gradient(135deg, #000 30%, #0a0716 100%);

    &.blue {
        background-color: #428aa6;
    }
}

input[type='radio'] {
    display: none;
}

.slide {
    position: absolute;
    // width: 60%;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    // max-width: 800px;
    // max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
    // margin-bottom: 20px;

    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked ~ .slides #song-4,
#item-2:checked ~ .slides #song-1,
#item-3:checked ~ .slides #song-2, 
#item-4:checked ~ .slides #song-3
{
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .slides #song-2,
#item-2:checked ~ .slides #song-3,
#item-3:checked ~ .slides #song-4,
#item-4:checked ~ .slides #song-1
 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .slides #song-1,
#item-2:checked ~ .slides #song-2,
#item-3:checked ~ .slides #song-3,
#item-4:checked ~ .slides #song-4
{
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;

    img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

.indicators {
    position: absolute;
    bottom: 10px;
    top: 8.5%;
    left: 88%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.indicator {
    width: 12px;
    height: 12px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

// .indicator.active {
//     background: black;
//     transform: scale(1.2);
// }
