<section class="hero">
    <div></div>
    <div class="hero-content">
        <h1>
          <span>Innovative.</span><br />
            Streamlined.<br />
            AI-Driven.
        </h1>
        <p>We harness AI to build high-quality websites and software in record time. Let’s accelerate your success.</p>
        <div class="hero-buttons">
            <button class="btn primary">Get in touch</button>
            <button class="btn secondary">Explore our services</button>
        </div>
    </div>

    <!-- <div></div> -->

    <div class="hero-image-container">
        <div class="hero-image"></div>
    </div>

    <div></div>
</section>
