<section class="hero">
    <div></div>
    <div class="hero-content">
        <h1>
            <span>Innovative.</span><br />
            Streamlined.<br />
            AI-Driven.
        </h1>
        <p>We harness AI to build high-quality websites and software in record time. Let’s accelerate your success.</p>
        <div class="hero-buttons">
            <button class="btn primary">Get in touch</button>
            <button class="btn secondary">Explore our services</button>
        </div>
    </div>

    <!-- <div></div> -->

    <div class="hero-image-container">
        <div class="overlay">
            <h1>
                Our Work. <br />
                Their Words.
            </h1>

            <!-- <div class="indicators">
                <span for="item-1" id="song-1" class="indicator active"></span>
                <span for="item-2" id="song-2" class="indicator"></span>
                <span for="item-3" id="song-3" class="indicator"></span>
            </div> -->

            <div>
                <mat-icon id="prevBtn" class="mat-icon-1" style="color: #c0c0c0" aria-hidden="false" fontIcon="arrow_forward_ios"></mat-icon>
                <mat-icon id="nextBtn" class="mat-icon-2" style="color: #c0c0c0" aria-hidden="false" fontIcon="arrow_back_ios"></mat-icon>
            </div>
            <!-- <div class="carousel-buttons">
                <button id="prevBtn">Previous</button>
                <button id="nextBtn">Next</button>
            </div> -->
        </div>
        <!-- <div class="hero-image"></div> -->
        <div class="carousel">
            <div class="carousel-container">
                <input type="radio" name="slider" id="item-1" checked />
                <input type="radio" name="slider" id="item-2" />
                <input type="radio" name="slider" id="item-3" />
                <div class="slides">
                    <label class="slide" for="item-1" id="song-1">
                        <img src="/assets/images/hero-1-min.jpg" alt="song" />
                    </label>
                    <label class="slide" for="item-2" id="song-2">
                        <img src="/assets/images/hero-person.png" alt="song" />
                    </label>
                    <label class="slide" for="item-3" id="song-3">
                        <img src="/assets/images/hero-1-min-copy.jpg" alt="song" />
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div></div>
</section>
