<section class="logo-slider">
    <div></div>
    <div class="slider">
        <div class="text poppins-regular">You’re in good company</div>
        <div class="slide-track">
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/3.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/4.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/5.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/1.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/2.png" alt="" />
            </div>

            <div class="slide">
                <img src="/assets/images/Untitled design (9)/3.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/4.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/5.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/1.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/2.png" alt="" />
            </div>

            <div class="slide">
                <img src="/assets/images/Untitled design (9)/3.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/4.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/5.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/1.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/Untitled design (9)/2.png" alt="" />
            </div>

        </div>
    </div>
    <div></div>
</section>
