<section class="logo-slider">
    <div></div>
    <div class="slider">
        <div class="text poppins-regular">You’re in good company</div>
        <div class="slide-track">
            <div class="slide">
                <img src="/assets/images/medcube-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/medcubeusa-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/sumxio-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/thinkcube-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/cyclonercm-logo.png" alt="" />
            </div>

            <div class="slide">
                <img src="/assets/images/medcube-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/medcubeusa-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/sumxio-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/thinkcube-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/cyclonercm-logo.png" alt="" />
            </div>

            <div class="slide">
                <img src="/assets/images/medcube-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/medcubeusa-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/sumxio-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/thinkcube-logo.png" alt="" />
            </div>
            <div class="slide">
                <img src="/assets/images/cyclonercm-logo.png" alt="" />
            </div>
        </div>
    </div>
    <div></div>
</section>
