<section class="reviews">
    <div></div>
    <div>
        <div class="reviews-txt poppins-regular">Reviews</div>
        <div class="reviews-inner">
            <div>
                <h1 class="poppins-bold">
                    Hear from Those <br />
                    We’ve Empowered
                </h1>
            </div>
            <div>
                <mat-icon aria-hidden="false" fontIcon="north_east"> </mat-icon>
            </div>
        </div>
    </div>
    <div></div>
</section>
