.reviews {
    display: grid;
    grid-template-columns: 0.5fr 11fr 0.5fr;
    gap: 2rem;
    padding: 80px;
    background: linear-gradient(135deg, #000 30%, #0a0716 100%);
}
.reviews-txt {
    color: #6f6f6f;
}
h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
}
.reviews-inner {
    display: flex;
    justify-content: space-between;
}

