.reviews {
    display: grid;
    grid-template-columns: 0.5fr 11fr 0.5fr;
    gap: 2rem;
    padding: 80px;
    background: #070707;
}
.reviews-txt {
    color: #6f6f6f;
}
h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
}
.reviews-inner {
    display: flex;
    justify-content: space-between;
}

// Media Queries

@media only screen and (max-width: 430px) {
    .reviews {
        overflow: hidden;
        gap: 1rem;
        padding: 0 0 40px 0;
    }
    h1 {
        font-size: 30px;
        line-height: 36px;
    }
    .reviews-inner {
        flex-direction: column;
    }
}
