<section id="about-us" class="about-us">
  <div class="hide-mobile"></div>

  <div>
    <div class="about-us-txt poppins-regular">About us</div>
    <div>
      <h1 class="poppins-bold">Transforming Digital, Accelerating Success.</h1>
    </div>
    <div>
      <button class="btn btn-1">Company</button>
      <button class="btn">News</button>
      <br />
      <button class="btn">Contact</button>
      <button class="btn">Project</button>
      <button class="btn">Community</button>
    </div>
  </div>
  <div class="accelerated">
    <div><span class="poppins-semibold">Overview.</span></div>
    <div class="poppins-regular">
      <p>
        At Ecube, we’re not just another digital solutions provider, we’re innovators redefining the way websites and
        software are built. By harnessing the power of AI, we dramatically reduce development time while maintaining
        top-tier quality. From stunning website designs to advanced software solutions, we craft digital experiences
        that are smart, scalable, and built for the future. Our AI-driven approach streamlines development, eliminating
        inefficiencies and accelerating your success. Join us in shaping the future of digital solutions, where speed
        meets intelligence.
      </p>
      <p>Let’s build something amazing, faster than ever.</p>
    </div>
    <div>
      <button routerLink="/about-us" (click)="scrollToTop()" class="btn-2">
        Discover
        <mat-icon aria-hidden="false" fontIcon="north_east"> </mat-icon>
      </button>
    </div>
  </div>

  <div class="hide-mobile"></div>
</section>
