<section class="projects">
    <div class="hide-mobile"></div>

    <div>
        <div class="services-txt poppins-regular">Services</div>
        <div>
            <h1 class="poppins-bold">
                Every project here is <span style="font-style: italic">custom-built</span> <br />
                to drive <span style="font-style: italic">progress and redefine</span> the future.
            </h1>
        </div>

        <div class="tiles">
            @for (project of projects; track $index) {
                <div [routerLink]="[project.link]" class="tile">
                    <img src="{{project.image}}" alt="">
                    <div class="details">
                        <img src="{{project.logo}}" alt="">
                        <h2 class="poppins-bold" [innerHTML]="project.name"></h2>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="hide-mobile"></div>
</section>
