<section class="projects">
    <div class="hide-mobile"></div>

    <div>
        <div class="services-txt poppins-regular">Services</div>
        <div>
            <h1 class="poppins-bold">
                Every project here is <span style="font-style: italic">custom-built</span> <br />
                to drive <span style="font-style: italic">progress and redefine</span> the future.
            </h1>
        </div>

        <div class="tiles">
            @for (item of projects; track $index) {
                <div class="tile">
                    <img src="/assets/images/projects/oceanwatch.png" alt="">
                </div>
            }
        </div>
    </div>

    <div class="hide-mobile"></div>
</section>
