.accordion-section {
    display: grid;
    grid-template-columns: 0.5fr 5fr 5fr 0.5fr;
    background-color: #1235ec;
    padding: 0rem 8rem;
    .left {
        h1 {
            margin-top: 8rem;
            margin-bottom: 8rem;
            font-size: 80px;
            color: #ffffff;
            line-height: 100px;
        }
        p {
            margin-top: 0;
            font-size: 24px;
            color: #ffffff;
        }
    }
}
.right {
    margin-top: 8rem;
    margin-bottom: 8rem;
    background-color: #1235ec;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: 0;
}

.accordion {
    width: 490px;
}

.accordion-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.accordion-label:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.arrow {
    margin-left: 1rem;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 15px;
    font-size: 16px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked + .accordion-label .arrow {
    transform: rotate(90deg);
}

input[type='checkbox']:checked ~ .accordion-content {
    max-height: 100px;
    padding: 10px 15px;
}

@media only screen and (max-width: 576px) {
    .accordion-section {
        grid-template-columns: 0.5fr 11fr 0.5fr;
        padding: 0;
    }
    .right {
        margin-top: 4rem;
        margin-bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 0;
    }
    .accordion {
        width: 100%;
        > h1 {
            margin-top: 0;
            padding: 15px;
            font-size: 30px;
            line-height: 35px;
        }
    }
}
