@use '@angular/material' as mat;

.Aboutus-section {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 11fr 0.5fr;
    gap: 2rem;
    padding: 80px;
    background: #070707;

    .Aboutus-txt {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #6f6f6f;
    }

    .container-One {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 20px auto;

        .grid-item.heading {
            color: white;
        }

        .grid-item .Empowering-Businesses {
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            letter-spacing: -2%;
            margin: 0;
            padding: 0;
        }

        .grid-item .with {
            font-size: 30px;
            font-family: Poppins;
            font-weight: 700;
            margin: 0;
            padding: 0;
        }

        .grid-item .highlight {
            font-family: Poppins;
            font-weight: 400;
            font-style: italic;
            font-size: 30px;
            letter-spacing: -2%;
            margin: 0;
            padding: 0;
        }

        .grid-item .Solutions {
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            letter-spacing: -2%;
            margin: 0;
            padding: 0;
        }

        .grid-item.descriptionOne {
            font-family: Poppins;
            font-weight: 400;
            font-size: 12px;
            line-height: 25.6px;
            letter-spacing: -2%;
            text-align: justify;
            color: white;
        }
    }

    .Aboutus-img {
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            border-radius: 24px;
            margin: 30px auto;
        }
    }

    .container-Two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin: 40px auto;

        .grid-item .Together-we {
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            letter-spacing: -2%;
            color: white;
            margin: 0;
            padding: 0;
        }

        .grid-item .are-Strong {
            font-size: 30px;
            font-family: Poppins;
            font-weight: 700;
            color: white;
            margin: 0;
            padding: 0;
        }

        .grid-item.descriptionTwo {
            color: white;
            margin: 0 auto;
        }

        .grid-item .Strength {
            font-family: Poppins;
            font-weight: 600;
            font-size: 13px;
            letter-spacing: -2%;
            text-align: justify;
            margin: 0;
        }

        .grid-item .ParagraphOne {
            font-family: Poppins;
            font-weight: 400;
            font-size: 12px;
            line-height: 25.6px;
            letter-spacing: -2%;
            text-align: justify;
        }

        .grid-item .ParagraphTwo {
            font-family: Poppins;
            font-weight: 400;
            font-size: 12px;
            line-height: 25.6px;
            letter-spacing: -2%;
            text-align: justify;
        }
    }

    .container-Three {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0;
        gap: 40px;

        /* Left side of the header */
        .header-left {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #fff;
            position: relative;
            top: -100px;
        }

        .Details {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .avatar-name,
        .avatar-role {
            font-family: Poppins, sans-serif;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: -2%;
            color: #fff;
            margin: 0;
        }

        /* Image */
        img.SLC-logo {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        /* Right side of the header */
        .header-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }

        .Success,
        .innovation,
        .highlightTwo,
        .vision,
        .future {
            font-family: Poppins;
            font-weight: 600;
            font-size: 30px;
            line-height: 64px;
            letter-spacing: -2%;
            color: white;
            margin: 0;
        }

        .highlightTwo {
            font-family: Poppins;
            font-weight: 400;
            font-style: italic;
            font-size: 30px;
            line-height: 64px;
            letter-spacing: -2%;
            color: white;
            margin: 0;
        }
    }

    .container-Four {
        margin: 60px 0;

        .team,
        .world-class {
            color: #ffffff;
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            letter-spacing: -2%;
            margin: 0;
        }

        .highlightThree,
        .highlightFour {
            color: #ffffff;
            font-family: Poppins;
            font-weight: 500;
            font-style: italic;
            font-size: 30px;
            letter-spacing: -2%;
        }

        .team-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
            margin-top: 30px;
        }

        .team-member {
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
        }

        .team-member img {
            width: 100%;
            border-radius: 8px;
        }

        .info {
            margin-top: 10px;
        }

        .info h3 {
            margin-bottom: 0;
            color: #ffffff;
            font-size: 16.5px;
            font-weight: 600;
        }

        .info p {
            margin-top: 0;
            font-size: 11px;
            color: #ffffff;
        }
    }

    .container-Five {
        margin: 100px auto;

        .Journey {
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            line-height: 56px;
            letter-spacing: -2%;
            color: white;
            margin: 0;
        }

        .Collaboration {
            font-family: Poppins;
            font-weight: 400;
            font-size: 15px;
            line-height: 25.6px;
            letter-spacing: -2%;
            text-align: justify;
            color: white;
            margin-bottom: -20px;
        }

        .timeline {
            position: relative;
            max-width: 800px;
            font-family: poppins;

            &::before {
                content: '';
                position: absolute;
                top: 10%;
                bottom: 0;
                width: 3px;
                background-color: #ddd;
                left: 20%;
                margin-left: -2px;
            }
        }

        .timeline-event {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: rgb(255, 255, 255);
                border: 2px solid #ffffff;
                border-radius: 50%;
                left: 20%;
                transform: translateX(-50%);
                z-index: 1;
            }

            &:first-child::after {
                background-color: #1235ec;
                border-color: #1235ec;
            }
        }

        .event-date {
            flex: 1;
            text-align: left;
            padding-right: 60px;
            font-weight: bold;
            font-family: Poppins;
            font-weight: 400;
            font-style: italic;
            font-size: 20px;
            line-height: 33.6px;
            letter-spacing: -2%;
            color: white;
        }

        .event-content {
            flex: 5;
            padding-left: 60px;
            color: white;
            margin: 20px 0;
            padding: 20px;
            border-radius: 6px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            position: relative;
            top: 50px;

            h3 {
                margin-top: 0;
                color: white;
                font-family: Poppins;
                font-weight: 600;
                font-size: 18px;
                line-height: 33.6px;
                letter-spacing: -2%;
            }

            p {
                margin: 0;
                color: white;
                font-family: Poppins;
                font-weight: 400;
                font-size: 12px;
                line-height: 25.6px;
                letter-spacing: -2%;
                // text-align: justify;
            }
        }
    }

    .container-Six {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .grid-item {
            text-align: center;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .grid-item h2 {
            color: white;
            font-family: Poppins;
            font-weight: 600;
            font-size: 40px;
            letter-spacing: -2%;
            text-align: justify;
            margin-bottom: -5px;
        }

        .grid-item p {
            font-family: Poppins;
            font-weight: 400;
            font-size: 14px;
            letter-spacing: -2%;
            text-align: justify;
            color: white;
            margin: 0;
        }
    }

    .container-Seven {
        margin: 100px auto;

        .Team-Gallery {
            font-family: Poppins;
            font-weight: 700;
            font-size: 30px;
            line-height: 56px;
            letter-spacing: -2%;
            color: white;
            margin: 0;
        }

        .transformation {
            font-family: Poppins;
            font-weight: 400;
            font-size: 15px;
            line-height: 25.6px;
            letter-spacing: -2%;
            text-align: justify;
            color: white;
            bottom: 0;
        }

        .row {
            display: flex;
            justify-content: space-between;

            .image-container {
                flex-basis: 45%;
                padding: 10px;

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }

            .image-one {
                flex: 4;
            }

            .image-two {
                flex: 8;
            }

            .image-three {
                flex: 8;
            }

            .image-four {
                flex: 4;
            }
        }
    }
}
