<app-header></app-header>

<div class="services-inner">
    <div></div>
    <div>
        <div class="our-projects-txt poppins-regular">Home/Services/Software Development</div>
        <div class="our-projects-inner">
            <div>
                <h1 class="poppins-bold">
                    Transforming Ideas
                    <span class="poppins-bold"> into Powerful,</span> <br />
                    Custom <span class="poppins-medium">software solutions</span>
                </h1>
            </div>
            <div>
                <!-- avatar group here -->
            </div>
        </div>

        <div class="image-container"></div>

        <div class="p-container">
            <p class="poppins-regular">
                Software development is a dynamic and ever-evolving process that blends creativity, problem-solving, and technical expertise to build digital
                solutions that transform businesses and everyday experiences. At its core, software development is about understanding complex challenges and
                crafting tailored solutions that are intuitive, efficient, and scalable.
            </p>
            <p class="poppins-regular">
                From conceptualizing the idea to coding, testing, and deploying, every step of the development journey is critical. A successful software
                solution requires not only a deep understanding of user needs but also a mastery of programming languages, frameworks, and modern development
                practices. Whether you're building a custom web application, a mobile app, or enterprise-level software, every detail counts—from performance
                optimization to user interface design.We take pride in our agile, collaborative approach, working closely with clients to turn their vision into
                reality. We focus on delivering robust, secure, and scalable software that grows with your business, ensuring long-term success. Our passion
                lies in creating seamless, reliable systems that simplify complex tasks, drive innovation, and empower organizations to achieve their goals with
                confidence.
            </p>
        </div>

        <p class="carousel-header poppins-regular">Innovative Solutions with Cutting-Edge Software Development</p>

        <div class="carousel">
            @for (item of carouselItems; track $index) {
            <div>
                <img src="{{ item.image }}" alt="tech" />
            </div>
            }
        </div>

        <h1 class="header-2 poppins-bold">
            Turning visions into robust, <br />
            User-centric <span class="poppins-medium">Software Solutions</span>
        </h1>
        <div class="tiles">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <app-reviews></app-reviews>
    </div>
    <div></div>
</div>

<app-footer-extended></app-footer-extended>
