<app-header></app-header>

<div class="services-inner">
    <div></div>
    <div>
        <div class="our-projects-txt poppins-regular">Home/Services/{{ serviceName }}</div>
        <div class="our-projects-inner">
            <div>
                <h1 [innerHTML]="mainTitleOne" class="poppins-bold">
                    <!-- Transforming Ideas <span class="poppins-medium italic"> into Powerful,</span> <br />
                    Custom <span class="poppins-medium italic">software solutions</span> -->
                </h1>
            </div>
            <div>
                <!-- avatar group here -->
            </div>
        </div>

        <div style="background-image: url('{{ imageUrl }}');" class="image-container"></div>

        <div class="p-container">
            <p class="poppins-regular">
                {{ paragraphOne }}
            </p>
            <p class="poppins-regular">
                {{ paragraphTwo }}
            </p>
        </div>

        <p class="carousel-header poppins-regular">{{ carouselHeader }}</p>

        <div class="carousel">
            @for (item of carouselItemss; track $index) {
            <div>
                <img src="{{ item.image }}" alt="tech" />
            </div>
            }
        </div>

        <h1 [innerHTML]="mainTitleTwo" class="header-2 poppins-bold">
            <!-- Turning visions into robust, <br />
            User-centric <span class="poppins-medium italic">Software Solutions</span> -->
        </h1>
        <div class="tiles">
            <div>
                <img src="/assets/images/medcube-logo.png" alt="" />
            </div>
            <div>
                <img src="/assets/images/medcubeusa-logo.png" alt="" />
            </div>
            <div>
                <img src="/assets/images/services/ecube-logo.png" alt="" />
            </div>
            <div>
                <img style="height: 58px" src="/assets/images/thinkcube-logo.png" alt="" />
            </div>
            <div>
                <img style="height: 58px" src="/assets/images/sumxio-logo.png" alt="" />
            </div>
            <div>
                <img src="/assets/images/cyclonercm-logo.png" alt="" />
            </div>
            <div>
                <img src="/assets/images/sako-gems-logo.png" alt="" />
            </div>
            <div>
                <img src="/assets/images/tourpill-logo.png" alt="" />
            </div>
        </div>
        <app-reviews></app-reviews>
    </div>
    <div></div>
</div>

<app-footer-extended></app-footer-extended>
