section {
    background: #070707;
    // gap: 2rem;
    padding: 80px;
    // grid-template-columns: 0.5fr 11fr 0.5fr;

    // 1st content section
    .SLC-section {
        position: relative;
        display: grid;
        grid-template-columns: 0.5fr 11fr 0.5fr;

        // Blog header section
        .SLC-txt {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #6f6f6f;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        //left side of the header

        .header-left {
            display: flex;
            flex-direction: column;
            color: #ffffffff;

            .poppins-bold {
                right: 0;
                font-family: Poppins;
                font-weight: 700;
                font-size: 40px;
                line-height: 56px;
                letter-spacing: -2%;
                margin-bottom: 0;
            }

            .poppins-regular {
                margin-top: 0;
                margin-bottom: 3rem;
                font-family: Poppins;
                font-weight: 400;
                font-style: italic;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -2%;
                text-align: justify;
            }
        }

        //right side of the header

        .header-right {
            display: flex;
            align-items: center;
            line-height: 0.1;
            gap: 10px;
        }

        // aurthor

        .Details {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .poppins-regular {
                font-family: Poppins, sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.2;
                color: #fff;
                margin: 0;
            }

            .poppins-medium {
                font-family: Poppins, sans-serif;
                font-weight: 400;
                font-size: 12px;
                margin-top: 0.5rem;
            }
        }

        //Image

        img.SLC-logo {
            width: 50px;
            height: 50px;
        }

        .SLC-img {
            margin-bottom: 3rem;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
                border-radius: 24px;
                margin: 0px auto;
            }
        }
    }

    // 2nd content section
    .about-us {
        display: grid;
        grid-template-columns: 0.5fr 5.5fr 5.5fr 0.5fr;
        margin: 40px 0;
        gap: 5px;
        background: #070707;

        .about-txt {
            font-weight: 400;
            font-size: 16px;
            color: #c0c0c0;
        }

        .about-left {
            left: 0;
        }

        .poppins-bold-Struggles {
            // margin-top: 1.5rem;
            // margin-bottom: 1.5rem;
            color: #ffffff;
            font-family: Poppins;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -2%;
        }

        .poppins-bold-Excellence {
            margin-bottom: 1.5rem;
            color: #ffffff;
            font-family: Poppins;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -2%;
        }

        .poppins-bold-Technology {
            color: #ffffff;
            font-family: Poppins;
            font-weight: 700;
            font-size: 35px;
            line-height: 5px;
            letter-spacing: -2%;
        }

        span {
            color: #0077b5;
        }

        .btn {
            margin: 0 10px 10px 0;
            padding: 12px 24px;
            border: 1px solid #6f6f6f;
            font-family: Poppins;
            border-radius: 25px;
            background-color: transparent;
            font-weight: 300;
            cursor: pointer;
            transition: 0.3s;
            border: 1px solid #ffffff;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }

        .UIUX {
            color: #ffffff;
            font-size: 12px;
            line-height: 19.2px;
            letter-spacing: -2%;
        }

        .Software {
            color: #ffffff;
            font-size: 12px;
            line-height: 19.2px;
            letter-spacing: -2%;
        }

        .Web {
            color: #ffffff;
            font-size: 12px;
            line-height: 19.2px;
            letter-spacing: -2%;
        }

        .poppins-regular-content {
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 19.2px;
            letter-spacing: 0%;
            color: #ffffff;
        }

        .technologies {
            display: flex;
            gap: 20px;

            img {
                width: 50px;
                height: 50px;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        h6 {
            font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.2px;
            letter-spacing: -1%;
            color: #ffffff;
        }

        // Right side
        .Description {
            h3 {
                font-family: Poppins;
                font-weight: 600;
                font-size: 24px;
                line-height: 28.8px;
                letter-spacing: -2%;
                color: #ffffff;
            }
            p {
                color: #ffffff;
                font-family: Poppins;
                font-weight: 400;
                font-size: 16x;
                line-height: 25.6px;
                letter-spacing: -2%;
                text-align: justify;
            }

            span {
                font-family: Poppins;
                font-weight: 600;
                font-size: 24px;
                line-height: 28.8px;
                letter-spacing: -2%;
            }
        }

        .Visit-Website {
            font-family: Poppins;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 10px 10px 0;
            padding: 14px 30px;
            border: 1px solid #1235ec;
            border-radius: 7px;
            background-color: #1235ec;
            color: #ffffff;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            transition: 0.3s;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }

            mat-icon {
                margin-left: 5px;
            }
        }
    }

    // 3rd content section
    .measurable-container {
        display: flex;
        justify-content: space-between;
        background-color: #070707;
        margin: 40px 0;
        gap: 20px;

        display: grid;
        grid-template-columns: 0.5fr 5.5fr 5.5fr 0.5fr;
        gap: 5px;

        // Left side - Measurables
        .measurable-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            flex: 1;

            .metric-card {
                color: #ffffff;
                text-align: center;
                border-radius: 10px;
                padding-right: 40px;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }

                h2 {
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 40px;
                    line-height: 60px;
                    text-align: left;
                    margin: 0;
                }

                span {
                    color: #0077b5;
                }

                p {
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 0px;
                    text-align: left;
                    margin: 0;
                    color: #b8b8b899;
                }

                h6 {
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 35px;
                    text-align: left;
                    margin: 0;
                    color: #b8b8b899;
                }
            }
        }

        // Right side - VMS Content
        .vms-content {
            flex: 1;
            color: #ffffff;
            margin: 10px 0;

            h1 {
                font-family: Poppins;
                font-size: 36px;
                font-weight: bold;
                margin-bottom: 30px;
            }

            p {
                font-size: 16px;
                line-height: 22.4px;
                margin-bottom: 0px;
                font-family: Poppins;
                font-weight: 400;
                font-size: 14.5px;
                color: #ffffff;
                text-align: left;
                margin-bottom: 30px;
            }

            .read-more {
                display: flex;
                font-family: poppins;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                color: #1235ec;
                text-decoration: none;
                cursor: pointer;
                margin: 40px 0;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    color: #0d27b1;
                    text-decoration: none;
                    transform: scale(1.05);
                }

                mat-icon {
                    margin-left: 5px;
                }
            }
        }
    }

    // 4th content section
    .team-section {
        display: grid;
        grid-template-columns: 0.5fr 11fr 0.5fr;
        margin: 40px auto;

        .services-txt {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #6f6f6f;
        }

        .header {
            h1 {
                color: #ffffff;
                font-size: 40px;
                line-height: 48px;
            }

            span {
                color: #0077b5;
            }

            p {
                color: #ffffff;
            }
        }

        .description {
            font-size: 16px;
            color: #bbb;
            max-width: 800px;
            margin: auto;
            line-height: 1.6;
        }

        .team-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 30px;
            margin-top: 30px;
            background-color: #070707;
        }

        .team-member img {
            width: 100%;
        }

        .info {
            margin-top: 10px;
        }

        .info h3 {
            margin-bottom: 0;
            font-family: Poppins;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -2%;
            color: #ffffff;
        }

        .info p {
            margin-top: 0;
            font-family: Poppins;
            font-weight: 400;
            font-size: 12px;
            line-height: 16.8px;
            letter-spacing: -2%;
            color: #ffffff;
        }

        /* View More */
        .view-more {
            margin-top: 20px;
            font-size: 16px;
            color: #aaa;
            cursor: pointer;
        }

        .view-more:hover {
            color: white;
        }
    }

    // 5th content section
    .testimonial-section {
        display: grid;
        grid-template-columns: 0.5fr 11fr 0.5fr;
        margin: 80px 0;

        .services-txt {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #6f6f6f;
        }

        .header h1 {
            font-size: 2.5rem;
            line-height: 1.3;
            color: #ffffff;

            span {
                color: #0077b5;
            }
        }

        .container-one {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: 20px;

            .left-side {
                grid-column: span 4;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 20px;
                    box-shadow: 0 0 20px rgba(175, 172, 172, 0.493);
                }
            }

            .right-side {
                grid-column: span 8;
                border-radius: 20px;
                box-shadow: 0 0 20px rgba(175, 172, 172, 0.493);
                background-color: #000000;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 100px;
                position: relative;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }

                p {
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: -2%;
                    color: #ffffff;
                }

                .author-role {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .icon {
                        display: flex;
                        flex-direction: column;
                        color: #ffffffff;

                        .poppins-bold {
                            font-family: Poppins;
                            font-weight: 700;
                            font-size: 12px;
                            line-height: 56px;
                            letter-spacing: -2%;
                            margin-bottom: 0;
                        }

                        .poppins-regular {
                            margin-top: 0;
                            font-family: Poppins;
                            font-weight: 400;
                            font-style: italic;
                            font-size: 12px;
                            line-height: 45px;
                            letter-spacing: -2%;
                            text-align: justify;
                        }
                    }

                    .author-img {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .name-role {
                            display: flex;
                            flex-direction: column;

                            .poppins-bold {
                                font-family: Poppins;
                                font-weight: 700;
                                font-size: 14px;
                                line-height: 20px;
                                margin-bottom: 0;
                            }

                            .poppins-regular {
                                font-family: Poppins;
                                font-weight: 400;
                                font-size: 11px;
                                line-height: 20px;
                                font-style: italic;
                                margin-top: 0;
                            }
                        }
                        .avatar-img {
                            width: 45px;
                            height: 45px;
                            flex-shrink: 0;
                            border-radius: 512px;
                        }
                    }

                    img.linkdin-logo {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }

        .container-two {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            margin: 40px 0;

            .content-grid {
                background-color: #000000;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 2px 8px rgba(189, 187, 187, 0.384);

                p {
                    font-family: Poppins;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 25.6px;
                    letter-spacing: -2%;
                    color: #ffffff;
                }
            }

            .container-two {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .content-grid {
                display: flex;
                flex-direction: column;
                gap: 100px;
                position: relative;
                transition: transform 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .author-role {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .icon {
                    display: flex;
                    flex-direction: column;
                    color: #ffffffff;
                    cursor: pointer;

                    .poppins-bold-shammi {
                        font-family: Poppins;
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 56px;
                        letter-spacing: -2%;
                        margin-bottom: 0;
                    }

                    .poppins-regular-president {
                        margin-top: 0;
                        font-family: Poppins;
                        font-weight: 400;
                        font-style: italic;
                        font-size: 12px;
                        line-height: 45px;
                        letter-spacing: -2%;
                        text-align: justify;
                    }
                }

                .author-img {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .name-role {
                        display: flex;
                        flex-direction: column;

                        .poppins-bold-shammi {
                            font-family: Poppins;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 20px;
                            margin-bottom: 0;
                        }

                        .poppins-regular-president {
                            font-family: Poppins;
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 20px;
                            font-style: italic;
                            margin-top: 0;
                        }
                    }
                    .avatar-img {
                        width: 45px;
                        height: 45px;
                        flex-shrink: 0;
                        border-radius: 512px;
                    }
                }

                img.linkdin-logo {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    section {
        padding: 20px;

        // 1st content section
        .SLC-section {
            grid-template-columns: 1fr;

            .SLC-txt {
                font-size: 14px;
            }

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .header-left {
                    display: flex;
                    flex-direction: column;
                    flex: 9.5;

                    .poppins-bold {
                        font-size: 25px;
                        line-height: 25px;
                    }

                    .poppins-regular {
                        font-size: 30px;
                        line-height: 35px;
                    }
                }

                .header-right {
                    display: flex;
                    flex-direction: column;
                    flex: 2.5;

                    .Details {
                        display: flex;
                        flex-direction: column;

                        .poppins-regular {
                            font-family: Poppins, sans-serif;
                            font-weight: 400;
                            font-size: 10px;
                            line-height: 14px;
                            color: #fff;
                            margin: 0;
                        }

                        .poppins-medium {
                            font-family: Poppins, sans-serif;
                            font-weight: 400;
                            font-size: 10px;
                        }
                    }
                }

                .SLC-img {
                    margin-bottom: 1.5rem;
                }
            }
        }

        // 2nd content section
        .about-us {
            grid-template-columns: 1fr;
            margin: 20px 0;
            gap: 10px;

            .poppins-bold-Struggles,
            .poppins-bold-Excellence,
            .poppins-bold-Technology {
                font-size: 25px;
                line-height: 35px;
            }

            .btn {
                margin: 5px 2px;
                padding: 10px 20px;
            }

            .Description {
                h3 {
                    font-size: 20px;
                    line-height: 24px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            .Visit-Website {
                margin: 20px 0;
                padding: 10px 20px;
                font-size: 14px;
            }
        }

        // 3rd content section
        .measurable-container {
            grid-template-columns: 1fr;
            margin: 20px 0;
            gap: 10px;

            .measurable-grid {
                // grid-template-columns: 1fr;
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                .metric-card {
                    padding-right: 0;

                    h2 {
                        font-size: 28px;
                        line-height: 36px;
                    }

                    p,
                    h6 {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
            }

            .vms-content {
                h1 {
                    font-size: 24px;
                    line-height: 35px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }

                .read-more {
                    font-size: 14px;
                    margin: 20px 0;
                }
            }
        }

        // 4th content section
        .team-section {
            grid-template-columns: 1fr;
            margin: 20px 0;

            .header h1 {
                font-size: 25px;
                line-height: 28px;
            }

            .description {
                font-size: 14px;
                line-height: 20px;
            }

            .team-grid {
                grid-template-columns: 1fr;
                gap: 20px;
            }

            .team-member {
                padding: 15px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
            }

            .team-member img {
                width: 100%;
            }

            .info h3 {
                font-size: 20px;
                line-height: 35px;
            }

            .info p {
                font-size: 14px;
                line-height: 14px;
            }

            .view-more {
                font-size: 14px;
            }
        }

        // 5th content section
        .testimonial-section {
            grid-template-columns: 1fr;
            margin: 40px 0;

            .header h1 {
                font-size: 25px;
                line-height: 28px;
            }

            .container-one {
                grid-template-columns: 1fr;
                gap: 10px;

                .left-side {
                    grid-column: span 1;
                }

                .right-side {
                    grid-column: span 1;
                    padding: 10px;
                    gap: 20px;

                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .author-role {
                        .icon {
                            .poppins-bold {
                                font-size: 10px;
                                line-height: 14px;
                            }

                            .poppins-regular {
                                font-size: 10px;
                                line-height: 14px;
                            }
                        }

                        .author-img {
                            .name-role {
                                .poppins-bold {
                                    font-size: 12px;
                                    line-height: 16px;
                                }

                                .poppins-regular {
                                    font-size: 10px;
                                    line-height: 14px;
                                }
                            }

                            .avatar-img {
                                width: 40px;
                                height: 40px;
                            }
                        }

                        img.linkdin-logo {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            .container-two {
                grid-template-columns: 1fr;
                gap: 20px;
                margin: 20px 0;

                .content-grid {
                    padding: 10px;
                    p {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }

                .author-role {
                    .icon {
                        .poppins-bold-shammi,
                        .poppins-regular-president {
                            font-size: 10px;
                            line-height: 12px;
                        }
                    }

                    .author-img {
                        gap: 10px;

                        .name-role {
                            .poppins-bold {
                                font-size: 12px;
                                line-height: 14px;
                                margin: 0;
                            }
                            .poppins-regular {
                                font-size: 10px;
                                line-height: 12px;
                                margin: 0;
                                font-style: italic;
                            }
                        }
                        .avatar-img {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    img.linkdin-logo {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
