<!-- Blog-page Section -->

<app-header></app-header>

<!-- Image and contents -->

<div class="blog-section" >
    <div></div>

    <div>
        <div>
            <div class="blog-txt poppins-regular">{{ blogpage.title }}</div>

            <!-- Headers with Aurthor details -->

            <div class="header">
                <div class="header-left">
                    <h1 class="poppins-bold">{{ blogpage.heading }}</h1>
                    <p class="poppins-regular-srilanka">{{ blogpage.subheading }}</p>
                </div>
                <div class="header-right">
                    <img src=" {{ blogpage.avatar }} " class="Written-by" alt="Author's Avatar" />
                    <div class="author-details">
                        <p class="poppins-regular-written">{{ blogpage.author.detailone }}</p>
                        <p class="poppins-regular-malith">{{ blogpage.author.detailtwo }}</p>
                    </div>
                </div>
            </div>

            <!-- Image with Content -->

            <div class="blog-img">
                <img src=" {{ blogpage.banner }} " class="img" alt="Blog Image" />
            </div>

            <div class="blog-content">
                <p class="poppins-regular">{{ blogpage.contentone }}</p>

                <hr />

                <!-- 1st Para -->

                <h5>{{ blogpage.headerone }}</h5>
                <p class="poppins-regular">{{ blogpage.contentwo }}</p>

                <!-- 2st Para -->

                <h5>{{ blogpage.headertwo }}</h5>
                <p class="poppins-regular">{{ blogpage.contentthree }}</p>

                <p class="poppins-regular">{{ blogpage.contentfour }}</p>

                <!-- image with quote and content -->

                <div class="Saas-img">
                    <img src=" {{ blogpage.imagesaas }} " alt="Blog Image" />
                </div>
                <div class="Saas-txt poppins-regular">{{ blogpage.imageby }}</div>

                <div class="quote-container">
                    <div class="vl"></div>
                    <div class="quote">
                        <h2>"{{ blogpage.quote }}"</h2>
                        <p class="poppins-regular">{{ blogpage.quoteauthor }}</p>
                    </div>
                </div>

                <p class="poppins-regular">{{ blogpage.contentfive }}</p>
                <p class="poppins-regular">{{ blogpage.contentsix }}</p>

                <!-- Conclusion Para -->

                <h5> {{ blogpage.headerthree }}</h5>
                <p class="poppins-regular">{{ blogpage.contentseven }}</p>
            </div>

            <!-- Our Team’s Expert Insights on Web Design -->

            <!-- <div class="team-experts">
                <div class="expert-insights">
                    <h2 class="poppins-bold-insights">Our Team’s Expert Insights</h2>
                    <div class="inline-text">
                        <span class="poppins-italic-span">on</span>
                        <h3 class="poppins-bold-web">Web Design</h3>
                    </div>
                </div>

                <div class="see-more-container">
                    <button class="btn-2 see-more">
                        See More
                        <mat-icon aria-hidden="false" fontIcon="north_east"></mat-icon>
                    </button>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- ******************** -->

<app-accordion></app-accordion>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
