<!--Blog-page Section-->

<app-header></app-header>

<!--Image and contents-->

<section class="poppins-regular">
    <!--1st Section-->

    <div class="Basketball-section">
        <div></div>

        <div>
            <div>
                <div class="SLC-txt poppins-regular">Sri Lankan Basketball</div>

                <!-- Headers with Aurthor details -->

                <div class="header">
                    <div class="header-left">
                        <h1 class="poppins-bold-Cricket">Basketball Sri Lanka Website &</h1>
                        <h5 class="poppins-regular-Vendor"> Players Management System</h5>
                    </div>
                    <div class="header-right">
                        <img src="/assets/images/basketball-logo.png" class="SLC-logo" alt="logo" />
                        <div class="Details">
                            <p class="poppins-regular-Powered">Powered by</p>
                            <p class="poppins-regular-Ecube">Ecube Digital</p>
                        </div>
                    </div>
                </div>

                <!-- Image with Content -->

                <div class="SLC-img">
                    <img src="/assets/images/projects/Basketball/basketball.png" class="img" alt="SLC-Image" />
                </div>
            </div>
        </div>
    </div>

    <!--2nd Section-->

    <div class="about-us">
        <div></div>

        <div>
            <div>
                <div class="about-txt poppins-regular">System Requirement</div>
                <h1 class="poppins-bold-Struggles">From Courtside Chaos to</h1>
                <h2 class="poppins-bold-Excellence">Seamless Strategy<span>.</span></h2>
                <!-- <h3 class="poppins-bold-Technology">Technology</h3> -->
            </div>
            <div>
                <button class="btn UIUX">UI/UX Design</button>
                <button class="btn Software">Software Development</button>
                <br />
                <button class="btn Web">Web Design</button>
            </div>

            <div>
                <p class="poppins-regular-content">Used technologies</p>
                <div class="technologies">
                    <img src="/assets/images/projects/Basketball/Adobe.png" class="tech-one" alt="Adobe" />
                    <img src="/assets/images/projects/Basketball/Wordpress.png" class="tech-two" alt="Wordpress" />
                    <!-- <img src="/assets/images/projects/Mepa/.net.png" class="tech-three" alt="Vector" /> -->
                    <!-- <img src="/assets/images/projects/Mepa/mysql.png" class="tech-four" alt="MongoDB" /> -->
                </div>
                <h6>Completed within 4 weeks</h6>
            </div>
        </div>
        <div class="Description">
            <br />
            <div><h3 class="poppins-semibold-project">Project Description<span>.</span></h3></div>
            <div class="poppins-regular-content">
                <p>
                    Basketball Sri Lanka | Player & Event Management System aims to transform the way basketball events, player performance, and team coordination are managed. Currently, the management of player registration, event scheduling, and team rosters is a disjointed and cumbersome process. With numerous teams, events, and player stats to track, the current system is prone to errors, inefficiencies, and missed opportunities for development and growth in the sport.
                </p>
                <p>
                    Manual paperwork and outdated communication methods often delay important updates, creating confusion and making it harder for teams and organizers to stay aligned. Whether it's managing tournament schedules, tracking player performance, or communicating event details, the existing processes struggle to keep up with the growing demand for organized basketball events.
                </p>
            </div>
            <div>
                <a href="https://vms.mycricket.com.lk" target="_blank">
                    <button class="Visit-Website">
                        Visit Website
                        <mat-icon aria-hidden="false" fontIcon="north_east"> </mat-icon>
                    </button>
                </a>
            </div>
        </div>
        <div></div>
    </div>

    <!--3rd Section-->

    <div class="measurable-container">
        <div></div>
        <!-- Left side - Measurables -->
        <div class="measurable-grid">
            <div class="metric-card">
                <h2>85%</h2>
                <p>Faster Player</p>
                <h6>Tracking</h6>
            </div>
            <div class="metric-card">
                <h2>24/7</h2>
                <p>Real-Time Player</p>
                <h6>Tracking</h6>
            </div>
            <div class="metric-card">
                <h2>400+</h2>
                <p>Player Profiles</p>
                <h6>Managed</h6>
            </div>
            <div class="metric-card">
                <h2>100%</h2>
                <p>Transparency in</p>
                <h6>Player Development</h6>
            </div>
        </div>

        <!-- Right side - VMS Content -->
        <div class="vms-content">
            <h1>
                Measurable Impact<br />
                of Player Management System
            </h1>
            <p>Our Basketball Management System has ignited a game-changing transformation, driving unparalleled efficiency and performance by harnessing the power of digital innovation for Sri Lankan basketball.</p>
            <!-- <a class="read-more">
                Read More
                <mat-icon>north_east</mat-icon>
            </a> -->
        </div>

        <div></div>
    </div>

    <!--4th Section-->

    <div class="team-section">
        <div></div>
        <div>
            <div>
                <div class="services-txt poppins-regular">Team Members</div>
                <div class="header">
                    <h1 class="poppins-bold">
                        The Minds Behind the<br />
                        Innovation<span>.</span>
                    </h1>
                </div>
            </div>
            <div class="team-grid">
                @for(member of teamMembers; track member.name) {
                <div class="team-member">
                    <img src="{{ member.image }}" alt="{{ member.name }}" />
                    <div class="info">
                        <h3 class="poppins-bold">{{ member.name }}</h3>
                        <p class="poppins-regular">{{ member.position }}</p>
                    </div>
                </div>
                }
            </div>
        </div>
        <div></div>
    </div>

    <!--5th Section-->

    <div class="testimonial-section">
        <div></div>
        <div>
            <div>
                <div class="services-txt poppins-regular">Customer Testimonials</div>
                <div class="header">
                    <h1 class="poppins-bold">
                        In Their Own Words,<br />
                        Sri Lanka Basketball’s Experience<span>.</span>
                    </h1>
                </div>
            </div>

            <div class="container-one">
                <div class="left-side">
                    <img src="/assets/images/projects/Basketball/Priyantha.png" alt="Image" />
                </div>
                <div class="right-side">
                    <p>
                        The launch of the Sri Lankan Basketball Website and Player Management System marks a pivotal moment in the development of our basketball community. With enhanced functionality, seamless integration, and real-time updates, this system is revolutionizing the way we manage our teams, players, and events.
                    </p>
                    <div class="author-role">
                        <div class="author-img">
                            <!-- <img src="/assets/images/avatar-3.png" class="SLC-logo" alt="logo" /> -->
                            <div class="name-role">
                                <p class="poppins-bold-shammi">Priyantha Ekanayake</p>
                                <p class="poppins-regular-president">Chairman - Sri Lanka Basketball</p>
                            </div>
                        </div>
                        <div class="icon">
                            <img src="/assets/images/projects/SLC/Linkdin.png" class="linkdin-logo" alt="logo" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-two">
                <div class="content-grid">
                    <p>The Sri Lanka Basketball Website and Player Management System has streamlined our operations, making team management, player development, and event coordination faster and more efficient.</p><br>
                    <div class="author-role">
                        <div class="author-img">
                            <img src="/assets/images/avatar-3.png" class="SLC-logo" alt="logo" />
                            <div class="name-role">
                                <p class="poppins-bold-shammi">Priyantha Ekanayake</p>
                                <p class="poppins-regular-president">Chairman - Sri Lanka Basketball</p>
                            </div>
                        </div>
                        <div class="icon">
                            <a href="https://v17.angular.io/start"><img src="/assets/images/projects/SLC/Linkdin.png" class="linkdin-logo" alt="logo" /></a>
                        </div>
                    </div>
                </div>
                <div class="content-grid">
                    <p>System ensures smooth player registration, reduces administrative challenges, and simplifies team coordination.</p><br><br><br><br>
                    <div class="author-role">
                        <div class="author-img">
                            <img src="/assets/images/avatar-3.png" class="SLC-logo" alt="logo" />
                            <div class="name-role">
                                <p class="poppins-bold-shammi">Priyantha Ekanayake</p>
                                <p class="poppins-regular-president">Chairman - Sri Lanka Basketball</p>
                            </div>
                        </div>
                        <div class="icon">
                            <a href="https://v17.angular.io/start"><img src="/assets/images/projects/SLC/Linkdin.png" class="linkdin-logo" alt="logo" /></a>
                        </div>
                    </div>
                </div>
                <div class="content-grid">
                    <p>System brings transparency and organization, making player and team management hassle-free.</p><br><br><br><br><br>
                    <div class="author-role">
                        <div class="author-img">
                            <img src="/assets/images/avatar-3.png" class="SLC-logo" alt="logo" />
                            <div class="name-role">
                                <p class="poppins-bold-shammi">Priyantha Ekanayake</p>
                                <p class="poppins-regular-president">Chairman - Sri Lanka Basketball</p>
                            </div>
                        </div>
                        <div class="icon">
                            <a href="https://v17.angular.io/start"><img src="/assets/images/projects/SLC/Linkdin.png" class="linkdin-logo" alt="logo" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div></div>
</section>

<!-- ******************** -->

<app-accordion></app-accordion>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
